@use "../../../../public/Frontend/scss/screen";

.profile-image {
	width: 200px;
	border-radius: 50%;
}

.fullwidth-layout {
	max-width: none;
    flex-grow: 1;

	.neos-contentcollection > *:not(.docs-youtube):not(.docs-section):not(.full):not(.jonnitto-prettyembed-wrapper),
	.authors,
	.docs-section > *:first-child { // spacing for the headline
		max-width: 960px;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
        margin: auto;
	}

	.docs-youtube {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: -40px;
		}
	}
	.docs-section .docs-youtube {
		margin-top: 16px;
		margin-bottom: 16px;
	}

    .fullwidth-header {
        display: grid;
    }
}

.main-container {
    display: flow-root;
    flex-grow: 1;
    margin-bottom: 40px;
}

@include screen.xl {
    .main-container.has-local-navigation {
        display: grid;
        grid-template-columns: 1fr 320px;
    }
}

.main-content {
    max-width: 760px;
    padding: 0 25px;
    @include screen.lg {
        padding: 0 60px;
    }
    margin: 0 auto;
    width: 100%;
}

.spacing-wrapper {
    margin: auto;
    max-width: 1000px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
