span.badge {
    font-size: 0.8em;
    display: inline-block;
    padding: 0 4px;
    font-weight: 400;
    border-radius: 2px;
}

span.badge.new {
    color: #26224c;
    background-color: #eceafa;
}

.sidebar-link-item .badge {
    margin-left: auto;
}
