.buttons {
	margin-top: 16px;
	margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 16px;

	.btn__wrapper {
        text-transform: none;
        text-decoration: none;

		.inline-icon {
			font-size: 1em;
		}

        &.right {
            margin-left: auto;
        }
	}

	[data-neos-placeholder]:before {
		color: white;
		font-style: italic;
	}
}
