
#index-banner {
	border-bottom: 1px solid $border-color;

	.container {
		position: relative;
	}

	h1,
	.image-container {
		margin-top: 16px;
	}

	h4 {
		margin-bottom: 40px;
		line-height: 44px;
		color: rgba(0, 0, 0, 0.7);
	}

	@media #{$medium-and-up} {
		& > .container {
			width: 100%;
		}
	}

	@media #{$medium-and-down} {
		h1,
		.image-container {
			margin-top: 70px;
		}
		h4 {
			margin-bottom: 15px;
		}
	}

	@media #{$small-and-down} {
		h4 {
			margin-bottom: 0;
		}
	}
}

.profile-image {
	width: 200px;
	border-radius: 50%;
}

.fullwidth-layout {
	max-width: none;

	.neos-contentcollection > *:not(.docs-youtube):not(.docs-section),
	.authors,
	.docs-section > *:first-child { // spacing for the headline
		max-width: 960px;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.docs-youtube {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: -40px;
		}
	}
	.docs-section .docs-youtube {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}