@use "../../../../Public/Frontend/scss/screen";

.main-footer {
	background-color: #f9fcff;
	border-top: 1px solid var(--c-divider-light);
	font-size: 0.9rem;
	color: inherit;

    h5 {
        color: var(--c-text-light);
        font-size: 1rem;
    }

    p {
        color: var(--c-text-light);
    }

	.footer-copyright {
		color: var(--c-text-light);
		background-color: transparent;
		font-style: italic;
	}

    &.page-footer {
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.footer-grid {
    display: grid;
    place-content: center;
    gap: 40px;
    margin: 0 auto 40px;

    @include screen.xl {
        grid-template-columns: 2fr 3fr;
    }
}

.socials {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
    gap: 1.5rem 2rem;
    flex-wrap: wrap;

    li a {
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
            text-decoration: none;
        }
    }
}
