Flowpack:
  ElasticSearch:
    indexes:
      default:
        # custom index name, NOTE THIS SHOULD NOT BE HARDCODED ON BEACH
        'docsneosio-production': &indexSettings
          analysis:
            filter:
              autocompleteFilter:
                max_shingle_size: 5
                min_shingle_size: 2
                type: 'shingle'
            analyzer:
              autocomplete:
                filter: [ 'lowercase', 'autocompleteFilter' ]
                char_filter: [ 'html_strip' ]
                type: 'custom'
                tokenizer: 'standard'
        'docsneosio-staging': *indexSettings
        'docsneosio-local': *indexSettings

    ContentRepositoryAdaptor:
      driver:
        version: 2.x
