.main-header {

  a.sidenav-trigger.top-nav {
    color: map-get($brand-colors, primary);
  }

  #logo-container {
    height: 57px;
    margin-bottom: 32px;
  }

  #front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
  }

  // custom styled sidebar
  ul.sidenav.sidenav-fixed {
    overflow: hidden;
    box-shadow: none;
    border-right: 1px solid $border-color;

	.neos-top-navigation + & {
		@media #{$medium-and-up} {
			top: $top-navigation-height;
		}
	}

    li.logo {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 136px;

	  @media #{$medium-and-down} {
		  margin-top: 60px;
	  }

      &:hover,
      #logo-container:hover {
        background-color: transparent;
      }
    }

    > li:last-child {
      margin-bottom: 40px;
    }

    li {
      line-height: 1;

      &.active > a {
		  background-color: rgba(50, 50, 50, 0.03);
	  }

	  &.current {
		background-color: rgba(50, 50, 50, 0.03);

		> a {
			background-color: rgba(50, 50, 50, 0.06);
		}
	  }

      a {
        line-height: 1.5;
        height: unset;
        padding: 0 30px;
      }

	  .badge {
		  margin-top: 0;
		  background: map-get($brand-colors, primary);
		  text-transform: uppercase;
		  font-weight: 400;
	  }
    }

    ul.collapsible-accordion {
      background-color: #fff;

      a.collapsible-header {
        padding: 0 30px;
      }

      .collapsible-body li a {
        font-weight: 400;
        padding: 0 37.5px 0 45px;
      }
    }

    // Only show scrollbar on hover
    &:hover {
      overflow-y: auto;
    }


    @media #{$small-and-down} {
      border: 0;
    }

    .navigation-item {
      display: flex;
      flex-direction: column;

      .navigation-link {
        padding: 1rem 2rem;
      }

      .navigation-item--level-2 {
        a {
          padding-left: 3rem;
        }
      }

      .navigation-item--level-3 {
        a {
          padding-left: 4rem;
        }
      }

      .navigation-item--level-4 {
        a {
          padding-left: 5rem;
        }
      }
    }
  }

  // Search
  #nav-mobile li.search {
    &:hover {
      background-color: #fff;
    }

    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;

    .search-wrapper {
      &.focused .search-results:not(:empty) {
        border-bottom: 1px solid $border-color;
      }

      color: #777;
      margin-top: -1px;
      border-top: 1px solid $border-color;
      transition: margin 0.25s ease;

      .search-input {
        &:focus {
          outline: none;
          box-shadow: none;
        }

        color: #777;
        display: block;
        font-size: 16px;
        font-weight: 300;
        width: 100%;
        height: 62px;
        margin: 0;
        box-sizing: border-box;
        padding: 0 45px 0 30px;
        border: 0;
      }

      .search-button {
        position: absolute;
        top: 21px;
        right: 10px;
        cursor: pointer;
		border: 0;
		background: white;

		&:active,
		&:hover,
		&:focus {
			background: none;
			transform: scale(1.1);
		}
      }
    }

    .search-results {
      margin: 0;
      border-top: 1px solid $border-color;
      background-color: #fff;

	  &:not(:empty) {
		  border-bottom: 1px solid $border-color;
	  }

	  .progress {
		  margin: 20px 15px;
		  width: auto;
	  }
    }

	.search-result {
		&:hover,
		&.focused {
			background-color: #eee;
			outline: none;
		}

		.title {
			font-size: 14px;
			font-weight: 300;
			white-space: nowrap;
			display: block;
			line-height: 44px;
			height: 44px;
			padding: 0 30px;
		}

		.highlight,
		.breadcrumbs {
			display: none;
		}
	}
  }
}
