@charset "utf-8";

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-bottom: 1.5rem;
}

.card {
	width: 100%;
	margin: 0 1.5rem 1.5rem 0;
	display: flex;
	flex-direction: column;
	background: map-get($brand-colors, secondary);
	transition: all 0.2s;

	@media #{$medium-and-up} {
		flex: 0 1 calc(50% - 1.5rem);
	}
	@media #{$extra-large-and-up} {
		flex: 0 1 calc(33% - 1.5rem);
	}

	.card-content {
		background: map-get($brand-colors, primary);
		flex-grow: 1;
	}

	.tags {
		margin-top: 20px;
	}

	.card-action {
		display: block;
	}
}