@charset "utf-8";


// Collections
.collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    position: relative;

    .collection-item {
        background-color: #fff;
        line-height: 1.5rem;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid #e0e0e0;
        outline-offset: 3px;

        // Avatar Collection
        &.avatar {
            min-height: 84px;
            padding-left: 72px;
            position: relative;

            // Don't style circles inside preloader classes.
            &:not(.circle-clipper) > .circle,
            :not(.circle-clipper) > .circle {
                position: absolute;
                width: 42px;
                height: 42px;
                overflow: hidden;
                left: 15px;
                display: inline-block;
                vertical-align: middle;
            }
            i.circle {
                font-size: 18px;
                line-height: 42px;
                color: #fff;
                background-color: #999;
                text-align: center;
            }


            .title {
                font-size: 16px;
            }

            p {
                margin: 0;
            }

            .secondary-content {
                position: absolute;
                top: 16px;
                right: 16px;
            }

        }


        &:last-child {
            border-bottom: none;
        }
    }
    a.collection-item{
        display: block;
        transition: .25s;
    }

}

.collection {
	margin-top: 16px;
	margin-bottom: 16px;

	.collection-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 580;

		.inline-icon {
			margin-top: 0.2em;
            float: right;
		}
	}
    a.collection-item {
        color: var(--c-brand);
    }
}

.collection a.collection-item:not(.active):hover {
    background-color: #f9f9f9;
    color: var(--c-text);
}
