@use "screen";

:root {
    --c-white: #ffffff;
    --c-white-dark: #f8f8f8;
    --c-black: #000000;
    --c-divider-light: rgba(60, 60, 67, .12);
    --c-divider-dark: rgba(84, 84, 88, .48);
    --c-text-light-1: #26224c;
    --c-text-light-2: #476582;
    --c-text-light-3: #90a4b7;
    --c-brand: #00adee;
    --c-brand-light: #00adee;
    --font-family-base: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    --z-index-navbar: 10;
    --z-index-sidebar: 6;
    --shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
    --header-height: 3.6rem
}

:root {
    --c-divider: var(--c-divider-light);
    --c-text: var(--c-text-light-1);
    --c-text-light: var(--c-text-light-2);
    --c-text-lighter: var(--c-text-light-3);
    --c-bg: var(--c-white);
    --c-bg-accent: var(--c-white-dark);
    --code-line-height: 24px;
    --code-font-family: var(--font-family-mono);
    --code-font-size: 14px;
    --code-inline-bg-color: rgba(27, 31, 35, .05);
    --code-bg-color: #282c34
}

*,:before,:after {
    box-sizing: border-box
}

html {
    line-height: 1.4;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: calc(var(--header-height) + 20px);
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.4;
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text);
    background-color: var(--c-bg);
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

main {
    display: block
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    line-height: 1.25
}

h1,h2,h3,h4,h5,h6,strong,b {
    font-weight: bold
}

h1:hover .header-anchor,h1:focus .header-anchor,h2:hover .header-anchor,h2:focus .header-anchor,h3:hover .header-anchor,h3:focus .header-anchor,h4:hover .header-anchor,h4:focus .header-anchor,h5:hover .header-anchor,h5:focus .header-anchor,h6:hover .header-anchor,h6:focus .header-anchor {
    opacity: 1
}

h1 {
    margin-top: 1.5rem;
    font-size: 1.9rem
}

@include screen.xs {
    h1 {
        font-size:2.2rem
    }
}

h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--c-divider);
    padding-bottom: .3rem;
}

h2, h2 a {
    line-height: 1.25;
    font-size: 1.65rem
}

:is(h2,h3,h4,h5) > a:not(.header-anchor) {
    color: var(--c-text);
    text-decoration: underline var(--c-brand);
    font-weight: 600!important;
}

h2+h3 {
    margin-top: 1.5rem
}

h3 {
    margin-top: 2rem;
    font-size: 1.35rem
}

h4,.h4 {
    margin-top: 1.5rem;
    font-size: 1.15rem
}

h5 {
    font-size: 1.075rem;
}

h6 {
    font-size: 1rem;
}

p,ol,ul {
    margin: 1rem 0;
    line-height: 1.7
}

a,area,button,[role=button],input,label,select,summary,textarea {
    touch-action: manipulation
}

a {
    text-decoration: none;
    color: var(--c-brand)
}

a:hover {
    text-decoration: underline
}

a.header-anchor {
    float: left;
    margin-top: .125em;
    margin-left: -.87em;
    padding-right: .23em;
    font-size: .85em;
    opacity: 0
}

a.header-anchor:hover,a.header-anchor:focus {
    text-decoration: none
}

figure {
    margin: 0
}

img {
    max-width: 100%
}

ul,ol {
    padding-left: 1.25em
}

li>ul,li>ol {
    margin: 0
}

.table {
    overflow-x: auto
}

table {
    border-collapse: collapse;
    margin: 1rem 0 0;
    min-width: 100%;
}

tr {
    border-top: 1px solid #dfe2e5
}

tr:nth-child(2n) {
    background-color: #f6f8fa
}

th,td {
    border: 1px solid #dfe2e5;
    padding: .6em 1em
}

blockquote {
    margin: 1rem 0;
    border-left: .2rem solid #dfe2e5;
    padding: .25rem 0 .25rem 1rem;
    font-size: 1rem;
    color: #999
}

blockquote>p {
    margin: 0
}

form {
    margin: 0
}

.theme.sidebar-open .sidebar-mask {
    display: block
}

.theme.no-navbar>h1,.theme.no-navbar>h2,.theme.no-navbar>h3,.theme.no-navbar>h4,.theme.no-navbar>h5,.theme.no-navbar>h6 {
    margin-top: 1.5rem;
    padding-top: 0
}

.theme.no-navbar aside {
    top: 0
}

@include screen.md {
    .theme.no-sidebar aside {
        display:none
    }

    .theme.no-sidebar main {
        margin-left: 0
    }
}

.sidebar-mask {
    position: fixed;
    z-index: 2;
    display: none;
    width: 100vw;
    height: 100vh
}

.icon.outbound {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    color: var(--c-text-lighter)
}

.home-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem
}

:where(.edit-link) .link {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--c-text-light)
}

:where(.edit-link) .link:hover {
    text-decoration: none;
    color: var(--c-brand)
}

:where(.edit-link) .icon {
    margin-left: 4px
}

.last-updated[data-v-7e06cdca] {
    display: inline-block;
    margin: 0;
    line-height: 1.4;
    font-size: .9rem;
    color: var(--c-text-light)
}

@include screen.md {
    .last-updated[data-v-7e06cdca] {
        font-size:1rem
    }
}

.prefix[data-v-7e06cdca] {
    display: inline-block;
    font-weight: 500
}

.datetime[data-v-7e06cdca] {
    display: inline-block;
    margin-left: 6px;
    font-weight: 400
}

.page-footer[data-v-b65b4b36] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto
}

@include screen.md {
    .page-footer[data-v-b65b4b36] {
        display:flex;
        justify-content: space-between;
        align-items: center
    }
}

.updated[data-v-b65b4b36] {
    padding-top: 4px
}

@include screen.md {
    .updated[data-v-b65b4b36] {
        padding-top:0
    }
}

.next-and-prev-link[data-v-e65a9748] {
    padding-top: 1rem
}

.container[data-v-e65a9748] {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--c-divider);
    padding-top: 1rem
}

.prev[data-v-e65a9748],.next[data-v-e65a9748] {
    display: flex;
    flex-shrink: 0;
    width: 50%
}

.prev[data-v-e65a9748] {
    justify-content: flex-start;
    padding-right: 12px
}

.next[data-v-e65a9748] {
    justify-content: flex-end;
    padding-left: 12px
}

.link[data-v-e65a9748] {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500
}

.text[data-v-e65a9748] {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.icon[data-v-e65a9748] {
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: var(--c-text);
    transform: translateY(1px)
}

.icon-prev[data-v-e65a9748] {
    margin-right: 8px
}

.icon-next[data-v-e65a9748] {
    margin-left: 8px
}

.page {
    padding-top: var(--header-height);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body:not(.no-sidebar) {
    @include screen.sm {
        .page {
            margin-left:16.4rem
        }
    }

    @include screen.md {
        .page {
            margin-left:20rem
        }
    }
}

:where(.page) .container-wrapper {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 48rem
}

:where(.page) .content {
    padding-bottom: 1.5rem
}

@include screen.xs-down {
    :where(.page) .content {
        clear:both
    }
}

#ads-container {
    margin: 0 auto
}

@include screen.xs {
    #ads-container {
        position:relative;
        right: 0;
        float: right;
        margin: -8px -8px 24px 24px;
        width: 146px
    }
}

@include screen.xs-down {
    #ads-container {
        height:105px;
        margin: 1.75rem 0
    }
}

@include screen.xl {
    #ads-container {
        position:fixed;
        right: 8px;
        bottom: 8px
    }
}

.banner {
    display: grid;
    place-content: center;
    padding: 40px 1.5rem;
    @include screen.xs {
        padding: 80px 1.5rem;
    }
    min-height: 300px;
    background-color: var(--c-brand)
}

body {
    letter-spacing: -.2px;
    font-weight: 380
}

blockquote {
    color: #757575
}
/*
a[href="#"] {
    opacity: .5
}

a[href="#"]:after {
    content: " \1f4ad"
}
*/
.page a,.link {
    font-weight: 540!important
}

.lead {
    font-size: 1.2rem;
    font-weight: 380
}

.api-object {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap-reverse;
    column-gap: 1rem;
    border-bottom: 2px solid var(--c-brand);

    h3 {
        margin-top: 0;
    }
}

.api-name {
    margin: 0;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: var(--c-text-light);
}

@include screen.xs {
    .lead {
        font-size:1.75rem
    }
}

.mt-1,.pt-1 {
    margin-top: 4px
}

.text-light {
    font-weight: 380
}

.secondary-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--c-brand);
    font-weight: inherit!important
}

.prev-next-navigation {
    margin-top: 60px;
}

.btn {
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 560;
    padding: 10px 20px;
    background: var(--c-brand);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: box-shadow .2s ease
}

.btn.secondary {
    background: var(--c-text);
}

.btn:hover {
    text-decoration: none;
    box-shadow: 0 2px 7px #0000002e
}

.preview {
    display: block;
    position: relative;
    margin: 1rem 0;
    padding: 1.25rem 1.5rem;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 3px 12px #00000012,0 1px 4px #00000012
}

.preview:before {
    content: "preview";
    position: absolute;
    top: .6em;
    right: 1em;
    z-index: 2;
    font-size: .8rem;
    color: #888
}
