$xs: 420px;
$sm: 720px;
$md: 960px;
$lg: 1024px;
$xl: 1400px;

@mixin xs {
    @media (min-width: $xs) { @content; }
}
@mixin sm {
    @media (min-width: $sm) { @content; }
}
@mixin md {
    @media (min-width: $md) { @content; }
}
@mixin lg {
    @media (min-width: $lg) { @content; }
}
@mixin xl {
    @media (min-width: $xl) { @content; }
}

@mixin xs-down {
    @media (max-width: $xs) { @content; }
}
@mixin sm-down {
    @media (max-width: $sm) { @content; }
}
@mixin md-down {
    @media (max-width: $md) { @content; }
}
@mixin lg-down {
    @media (max-width: $lg) { @content; }
}
@mixin xl-down {
    @media (max-width: $xl) { @content; }
}
