$brand-colors: (
	primary: #00adee,
	secondary: #26224c,
	teritary: #34363c
);
$top-navigation-height: 30px;

// Override materialize.css variables
$primary-color: map-get($brand-colors, primary);
$primary-color-light: lighten($primary-color, 20%) !default;
$primary-color-dark: darken($primary-color, 20%) !default;

$secondary-color: map-get($brand-colors, secondary);
$success-color: #4caf50;
$error-color: #d50000;
$link-color: map-get($brand-colors, primary);

// Override materialize.css Header Styles
$h1-fontsize: 4rem;
$h2-fontsize: 3rem;
$h3-fontsize: 2rem;
$h4-fontsize: 1.8rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1.15rem;
