$brand-colors: (
	primary: #00ADEE,
	secondary: #26224C,
	teritary: #34363C
) !default;

// Override materialize.css variables
$primary-color: map-get($brand-colors, primary);
$primary-color-light: lighten($primary-color, 20%) !default;
$primary-color-dark: darken($primary-color, 20%) !default;

$secondary-color: map-get($brand-colors, secondary);
$success-color: #4caf50;
$error-color: #d50000;
$link-color: map-get($brand-colors, primary);
