.local-navigation {
	position: relative;
	margin-top: 42px;

	&.pin-bottom {
		margin-top: 84px;
	}

	.table-of-contents {
		margin-top: 0;
		padding-top: 48px;

		a {
			&.active {
				color: rgba(0, 0, 0, 0.8);
			}

			color: rgba(0, 0, 0, 0.55);
			font-weight: 400;
		}
	}
}