.local-navigation {
	position: relative;
	margin-top: 42px;

	&.pin-bottom {
		margin-top: 84px;
	}

	.table-of-contents {
		margin-top: 0;
		padding-top: 48px;

		a {
			&.active {
				color: rgba(0, 0, 0, 0.8);
				border-left: 2px solid map-get($brand-colors, primary);
			}

			&:hover {
				border-left: 1px solid map-get($brand-colors, primary);
			}
			color: rgba(0, 0, 0, 0.55);
			font-weight: 400;
		}

		ul {
			padding-left: 10px;
		}
	}
}