@use "../../../../Public/Frontend/scss/screen";

.local-navigation {
    display: none;
    @include screen.xl {
        display:block;
    }
    height: auto!important;

	.toc {
        top: calc(var(--header-height) + 32px);
        position: sticky;

        ul {
            list-style: none;
            padding-left: 2px;
        }

        li {
            line-height: normal;
        }

		a {
            display: block;
            padding: .5rem 0 .5rem .5rem;
            border-left: 2px solid #eee;

			&.active {
                color: var(--c-accent-dark);
			}

			&.active,
			&:not(.active):hover {
                border-left: 2px solid var(--c-brand);
			}

            &:hover {
                color: var(--c-brand);
                text-decoration: none;
            }

			color: var(--c-accent);
		}
	}
}
