.docs-section {
	font-weight: 300;

	.docs-section-link {
		font-size: 0.6em;
		vertical-align: text-bottom;
	}

    h5.docs-section-header span {
        // the headline in the administration area is wrapped by a span
        // which causes the styles to look wrong (see matialialize_ddocs.scss).
        // Override this here
        font-size: $h5-fontsize;
        line-height: 1.3;
        color: $off-black;
    }

	.docs-section-header:not(:active):not(:hover):not(:focus) {
		.docs-section-link {
			visibility: hidden;
		}
	}
}
