.text {
	font-weight: 300;

	p {
		margin: 16px 0;
	}

	ul {
		padding-left: 40px;

		li {
			list-style-type: disc;
		}
	}

	pre {
		overflow-x: auto;
		font-family: $font-stack;
		font-size: 1.1rem;
		line-height: 1.3;
		padding: 15px 12px 15px 12px;
		border: solid 1px rgba(51, 51, 51, 0.12);
		background: rgba(246, 246, 246, 0.2);
	}

	figure.table {
		margin-left: 0;
		margin-right: 0;
	}

	table {
		@extend .striped;

		thead {
			color: white;
			background: map-get($brand-colors, primary);
			border-radius: 2px;
		}

		th {
			border-radius: 0;
		}
	}
}