@use "../../../../Public/Frontend/scss/screen";

.flowpack-searchplugin-search {
	margin-top: 32px;

	form {
        font-size: 1rem;
		display: flex;
	}

	.progress {
		margin: 50px 30px;
		width: auto;
	}

    .search-results {
        border: none;
    }

	.search-result {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
        font-weight: 400;

		&:hover,
		&.focused {
			background: none;
		}

		.title {
            font-size: 1.2rem;
            @include screen.sm {
                font-size: 1.5rem;
            }
			font-weight: 300;
		}

        .highlights {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            font-size: 0.9rem;
            @include screen.sm {
                font-size: 1rem;
            }
        }

        .highlight {
            margin: 0;
        }

        em {
            background: var(--c-divider-light);
        }

		.breadcrumbs {
			font-size: 0.9rem;

            svg {
                vertical-align: text-bottom;
            }
		}

        .breadcrumb {
            color: var(--c-text);
        }
	}

	/* if the list not not rendered via ajax */
	ol {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #e0e0e0;
			}
		}

		&:empty::before {
			display: block;
			content: 'No results found.';
			padding: 1rem 0;
			font-style: italic;
		}
	}

	.page-navigation {
        text-align: center;

        ul {
            padding-left: 0;
        }

		li {
			display: inline-block;
			padding: 0 5px;
		}
	}
}
